.vscode/

start.sh
start_worker.sh
update_pip.sh
migrate.sh
migrate_db.sh
init_migrations.sh

*.rdb

*.db
*.sqlite

venv/
env/

*.pyc
__pycache__/

# Tex and TexStudio things
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
